{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{% trans %}Welcome to Admin panel{% endtrans %}{% endblock %}
{% block page_actions %}
    
{% endblock %}

{% block main %}
    <table class="datagrid">
        <thead>
            <tr>
                <td>fdfsfdsfs</td>
                <td>Another Column</td>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
{% endblock %}